@model IList<Mateus.SistemaAcademico.Models.Disciplina>
@using Mateus.SistemaAcademico.Models.Enums
@using Mateus.SistemaAcademico.Models

@{

    ViewBag.Title = "Index";

}

<h2>Lista de Disciplinas</h2>
<div class="card-body">

    @if ((Session["usuarioLogado"] as Usuario).TipoPerfil == TipoPerfil.Administrador)
    {
        <p>
            <a href="/Disciplinas/AdicionarDisciplina">Cadastrar Disciplina</a>
        </p>
    }

    @if ((Session["usuarioLogado"] as Usuario).TipoPerfil == TipoPerfil.Secretaria)
    {
        <p>
            <a href="/Disciplinas/AdicionarDisciplina">Cadastrar Disciplina</a>
        </p>
    }

    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

            <thead>

                <tr>

                    <th>Professor</th>
                    <th>Nome</th>
                    <th>Carga horária</th>

                    <th></th>
                    <th></th>
                    <th></th>
                </tr>

            </thead>

            <tbody>

                @foreach (var disciplinas in Model)
                {
                    using (Html.BeginForm("ListarDisciplina", "Disciplina", new { id = disciplinas.Id }))
                    {
                        <tr>
                            <td>
                                @disciplinas.Professor.Nome
                            </td>

                            <td>
                                @disciplinas.Nome
                            </td>

                            <td>
                                @disciplinas.CargaHoraria
                            </td>

                            @*Remover Disciplina (Secretaria e Administrador) *@

                            @if ((Session["usuarioLogado"] as Usuario).TipoPerfil == TipoPerfil.Administrador)
                            {
                                <td>
                                    <a href="/Disciplinas/RemoverDisciplina/@disciplinas.Id">Remover</a>
                                </td>
                            }

                            @if ((Session["usuarioLogado"] as Usuario).TipoPerfil == TipoPerfil.Secretaria)
                            {
                                <td>
                                    <a href="/Disciplinas/RemoverDisciplina/@disciplinas.Id">Remover</a>
                                </td>
                            }

                            @*Visualizar detalhes Disciplina (Secretaria e Administrador) *@

                            @if ((Session["usuarioLogado"] as Usuario).TipoPerfil == TipoPerfil.Administrador)
                            {
                                <td>
                                    <a href="/Disciplinas/VisualizarDetalhes/@disciplinas.Id">Detalhes</a>
                                </td>
                            }

                            @if ((Session["usuarioLogado"] as Usuario).TipoPerfil == TipoPerfil.Administrador)
                            {
                                <td>
                                    <a href="/Disciplinas/VisualizarDetalhes/@disciplinas.Id">Detalhes</a>
                                </td>
                            }


                            <td>
                                <a href="/Disciplinas/EditarDisciplina/@disciplinas.Id">Editar</a>
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
        <p>
            @Html.ActionLink("Voltar", "Index", "Home")
        </p>
    </div>
</div>
