@model IList<Mateus.SistemaAcademico.Models.Telefone>

@{

    ViewBag.Title = "Index";

}

<h2>Lista de Telefones</h2>
<div class="card-body">
    <p>
        <a href="/Telefones/AdicionarTelefone">Cadastrar Telefone</a>
    </p>
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

            <thead>

                <tr>

                    <th>Número</th>
                    <th>Tipo de telefone</th>

                    <th></th>
                    <th></th>
                    <th></th>
                </tr>

            </thead>

            <tbody>

                @foreach (var telefone in ViewBag.Telefones)
                {
                    using (Html.BeginForm("ListarTelefone", "Telefones", new { id = telefone.Id }))
                    {
                        <tr>
                            <td>
                                @telefone.Numero
                            </td>

                            <td>
                                @telefone.TipoTelefone
                            </td>


                            <td>
                                <a href="/Telefones/RemoverTelefone/@telefone.Id">Remover</a>
                            </td>

                            <td>
                                <a href="/Telefones/VisualizarDetalhes/@telefone.Id">Detalhes</a>
                            </td>

                            <td>
                                <a href="/Telefones/EditarTelefone/@telefone.Id">Editar</a>
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
        <p>
            @Html.ActionLink("Voltar", "Index", "Home")
        </p>
    </div>
</div>
