@model IList<Mateus.SistemaAcademico.Models.Aluno>
@using Mateus.SistemaAcademico.Models
@using Mateus.SistemaAcademico.Models.Enums

@{

    ViewBag.Title = "Index";

}

<h2>Lista de Alunos</h2>
<div class="card-body">
    @if ((Session["usuarioLogado"] as Usuario).TipoPerfil == TipoPerfil.Administrador ||
         (Session["usuarioLogado"] as Usuario).TipoPerfil == TipoPerfil.Secretaria)
    {
        <p>
            <a href="/Alunos/AdicionarAluno">Matricular Aluno</a>
        </p>
    }

    <div class="table-responsive">
        <label class="text-uppercase">Pesquisar Alunos</label>
        <input class="form-control" type="text" name="pesquisa" id="pesquisa" placeholder="Digite o nome do aluno">
        <label style="opacity:0;">conselho</label><br />

        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

            <thead>

                <tr>

                    <th>Nome</th>
                    <th>Curso Matriculado</th>

                    <th></th>
                    <th></th>
                    <th></th>

                </tr>

            </thead>

            <tbody>

                @foreach (var aluno in Model)
                {
                    using (Html.BeginForm("ListarAluno", "Aluno", new { id = aluno.Id }))
                    {
                        <tr class="busca">
                            <td class="info-nome">
                                @aluno.Nome
                            </td>

                            <td>
                                @aluno.Curso.Nome
                            </td>

                            @if ((Session["usuarioLogado"] as Usuario).TipoPerfil == TipoPerfil.Administrador ||
                                 (Session["usuarioLogado"] as Usuario).TipoPerfil == TipoPerfil.Secretaria)
                            {

                                <td>
                                    <a href="/Alunos/RemoverAluno/@aluno.Id">Remover</a>
                                </td>

                                <td>
                                    <a href="/Alunos/VisualizarDetalhes/@aluno.Id">Detalhes</a>
                                </td>


                                <td>
                                    <a href="/Alunos/EditarAluno/@aluno.Id">Editar</a>
                                </td>
                            }

                        </tr>
                    }
                }
            </tbody>
        </table>
        <p>
            @Html.ActionLink("Voltar", "Index", "Home")
        </p>
    </div>
</div>

<script type="text/javascript" src="~/Content/js/pesquisa.js"></script>
