@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />

    <title>Login</title>
</head>

<body id="body">

    <form class="box" id="box" action="/Login/Autentica" method="post" style="">

        <h1>Login</h1>
        <input type="text" name="login" id="login" required placeholder="Usuario" />

        <input type="password" name="senha" id="senha" required placeholder="Senha" />

        <input type="submit" value="Login" class="" />


    </form>

</body>

</html>