@model IList<Mateus.SistemaAcademico.Models.Professor>

@{

    ViewBag.Title = "Index";

}

<h2>Lista de Professores</h2>
<div class="card-body">

    <p>
        <a href="/Professores/AdicionarProfessor">Cadastrar Professor</a>
    </p>

    <div class="table-responsive">
        <label class="text-uppercase">Pesquisar Professor</label>
        <input class="form-control" type="text" name="pesquisa" id="pesquisa" placeholder="Digite o nome do professor">
        <label style="opacity:0;">conselho</label><br />

        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Titulação</th>

                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var professor in ViewBag.Professor)
                {
                    using (Html.BeginForm("ListarProfessor", "Professor", new { id = professor.Id }))
                    {
                        <tr class="busca">
                            <td class="info-nome">
                                @professor.Nome
                            </td>

                            <td>
                                @professor.Titulacao
                            </td>

                            <td>
                                <a href="/Professores/RemoverProfessor/@professor.Id">Remover</a>
                            </td>

                            <td>
                                <a href="/Professores/VisualizarDetalhes/@professor.Id">Detalhes</a>
                            </td>

                            <td>
                                <a href="/Professores/EditarProfessor/@professor.Id">Editar</a>
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
        <p>
            @Html.ActionLink("Voltar", "Index", "Home")
        </p>
    </div>
</div>

<script type="text/javascript" src="~/Content/js/pesquisa.js"></script>

