@model IList<Mateus.SistemaAcademico.Models.Professor>

@{

    ViewBag.Title = "Index";

}

<h2>Lista de Professores</h2>
<div class="card-body">

    <p>
        <a href="/Professores/AdicionarProfessor">Cadastrar Professor</a>
    </p>

    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Titulação</th>

                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var professor in ViewBag.Professor)
                {
                    using (Html.BeginForm("ListarProfessor", "Professor", new { id = professor.Id }))
                    {
                <tr>
                    <td>
                        @professor.Nome
                    </td>

                    <td>
                        @professor.Titulacao
                    </td>

                    <td>
                        <a href="/Professores/RemoverProfessor/@professor.Id">Remover Professor</a>
                    </td>

                    <td>
                        <a href="/Professores/VisualizarDetalhes/@professor.Id">Detalhes</a>
                    </td>

                    <td>
                        <a href="/Professores/EditarProfessor/@professor.Id">Editar Professor</a>
                    </td>

                </tr>
                    }
                }
            </tbody>
        </table>
        <p>
            @Html.ActionLink("Voltar", "Index", "Home")
        </p>
    </div>
</div>

