@model IList<Mateus.SistemaAcademico.Models.Professor>

@{

    ViewBag.Title = "Index";

}

<h2>Lista de Professores do sistema</h2>

<div class="card-body">

    <div class="table-responsive">

        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Cpf</th>
                    <th>Registro do Professor</th>
                    <th>Titulação</th>

                    <th></th>
                    <th></th>

                    <td>
                        <a href="/Professor/AdicionarProfessor">Adicionar Professor</a>
                    </td>
                </tr>
            </thead>

            <tbody>

                @foreach (var professor in ViewBag.professor)
                {
                    using (Html.BeginForm("ListarCurso", "Curso", new { id = professor.Id }))
                    {
                        <tr>
                            <td>
                                @professor.Nome
                            </td>

                            <td>
                                @professor.Cpf
                            </td>

                            <td>
                                @professor.RegistroDoProfessor
                            </td>

                            <td>
                                @professor.Titulacao
                            </td>

                            <td>
                                <a href="/Professor/RemoverProfessor/@professor.Id">Remover Professor</a>
                            </td>

                            <td>
                                <a href="/Professor/ListarProfessores/@professor.Id">Listar Professores</a>
                            </td>

                            <td>
                                <a href="/Professor/EditarProfessor/@professor.Id">Editar Professor</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


