@model Mateus.SistemaAcademico.Models.Curso

@{
    ViewBag.Title = "Adiciona";
}

<div>
    <h2>
        Curso adicionado com sucesso
    </h2>

    <li>@Html.ActionLink("Cadastrar novo curso", "Formulario", "Curso")</li>

    <li>@Html.ActionLink("Lista de cursos do sistema", "Index", "Curso")</li>

    <li>@Html.ActionLink("Voltar ao menu", "Index", "Home")</li>

</div>