<h2>Cadastro de Cursos</h2>



<!DOCTYPE html>

<html>

<head>

    <title> formulario de curso </title>

</head>

<body>



    @using (Html.BeginForm("AdicionarCurso", "Cursos", FormMethod.Post))

    {



        <form action="/Cursos/AdicionarCurso">

            @*@html.antiforgerytoken()*@





            <label for="nome">Nome:</label>

            <input id="nome" name="nome" />



            <label for="duracao">Duracao:</label>

            <input id="duracao" name="duracao" />



            <label for="datadeinicio">Data de Inicio:</label>

            <input type="date" id="datadeinicio"  name="datadeinicio" />



            <label for="datadefim">Data de Fim:</label>
            <input type="date" id="datadefim" name="datadefim" />



            <label for="coordenador">Coordenador:</label>
            <input id="coordenador" name="coordenador" />


            <label for="tipodecurso">Tipo de Curso:</label>

            <input id="tipodecurso" name="tipodecurso" />


            <input type="submit" class="btn btn-primary" value="Cadastrar" />

        </form>

    }

</body>

</html>