@model IList<Mateus.SistemaAcademico.Models.Curso>

@{

    ViewBag.Title = "Index";

}

<h2>Lista de cursos do sistema</h2>
<div class="card-body">

    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

            <thead>

                <tr>

                    <th>Nome</th>
                    <th>Duração do Curso</th>
                    <th>Coordenador</th>
                    <th>Tipo de Curso</th>

                    <th></th>
                    <th></th>

                    <td>
                        <a href="/Cursos/AdicionarCurso">Adicionar Curso</a>
                    </td>
                </tr>

            </thead>

            <tbody>

                @foreach (var cursos in ViewBag.cursos)
                {
                    using (Html.BeginForm("ListarCurso", "Curso", new { id = cursos.Id }))
                    {
                        <tr>
                            <td>
                                @cursos.Nome
                            </td>

                            <td>
                                @cursos.Duracao
                            </td>

                            <td>
                                @cursos.Coordenador
                            </td>

                            <td>
                                @cursos.TipoCurso
                            </td>

                            <td>
                                <a href="/Cursos/RemoverCurso/@cursos.Id">Remover Curso</a>
                            </td>

                            <td>
                                <a href="/Cursos/ListarCurso/@cursos.Id">Listar Curso</a>
                            </td>

                            <td>
                                <a href="/Cursos/EditarCurso/@cursos.Id">Editar Curso</a>
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
        </div>
    </div>
